.header-status-image {
    display: inline-block;
    position: relative;
    left: 2px;
    top: 2px;
}
/*
#listLocalContacts .listview .win-selectionstylefilled {
    position: relative;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 200px;
}
*/
.listLocal .win-itemcontainer .win-itembox,
.listLocal .win-listview .win-itembox {
    background-color: transparent;
}
.listLocal .contentarea {
    overflow-y: hidden !important;
}

.listLocal .content-header {
    height: auto !important;
    min-height: 48px;
}

.listLocal .master-list-header {
    height: auto !important;
}

.listLocal .master-list-header.list-compact-only {
    padding-top: 48px;
}

.listLocal .list-div-right {
    width: 20px
}

#listLocalContacts .list-header {
    font-weight: bold;
    display: flex;
}

.pagecontrol:not(.view-size-bigger) #listLocalContacts .win-headercontainer {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Add any other styles you need for the header */
}

/* Styles used for the custom layout */
.listView .listLocalLayout {
    position: static;
}
.listView .listLocalLayout .win-surface {
    margin-left: 0;
}
#listLocalContacts .win-container {
    margin: 0;
}
/*
#listLocalContacts .win-item {
    padding: 4px 8px;
    width: calc(100% - 20px);
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
}
*/
#listLocalContacts .list-field-small-relative-10 {
    width: calc(10% - 28px);
}

#listLocalContacts .win-footer,
#listLocalContacts .list-header,
#listLocalContacts .win-item {
    width: auto;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#listLocalContacts .content-header {
    margin-top: -2px;
}

 #listLocalContacts .row-bkg{
     display: inline-block;
 }


/*
    margins/paddings for bigger size screens 

    @media (max-width:1099px) {
    }

    is now signalled by additional class: view-size-bigger
*/

/*
.view-size-bigger #listLocalContacts .row-bkg {
    display: none;
}
.view-size-bigger #listLocalContacts .win-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 16px;
}
*/
.view-size-bigger #listLocalContacts .win-footer,
.view-size-bigger #listLocalContacts .list-header,
.view-size-bigger #listLocalContacts .win-item {
    padding-top: 8px;
    padding-bottom: 8px;
}
.view-size-bigger #listLocalContacts .content-header {
    margin-top: -8px;
}

.action-image-right {
    /*width: 100%;*/
    float: right;
}

/*
    margins/paddings for middle sized screens 


    is now signalled by additional class: view-size-medium

    @media (max-width:899px) {
    }
*/

.view-size-medium #listLocalContacts .win-footer,
.view-size-medium #listLocalContacts .list-header,
.view-size-medium #listLocalContacts .win-item {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.view-size-medium #listLocalContacts .content-header {
    margin-top: -8px;
}


/*
    margins/paddings for small sized screens 


    is now signalled by additional class: view-size-small

    @media (max-width:499px) {
    }
*/
.view-size-small #listLocalContacts .win-footer,
.view-size-small #listLocalContacts .list-header,
.view-size-small #listLocalContacts .win-item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.view-size-small #listLocalContacts .content-header {
    margin-top: -4px;
}


.status-image {
    opacity: 0.6;
}

