
.signaturefragmenthost {
    height: 130px;
    overflow: hidden;
    z-index: 4;
}

#privacyController .input_field {
    overflow-y: hidden;
}

#privacyController #signaturehost {
    touch-action: none;
}
