#questionnaireRemoteController .mandatory-empty-warning {
    color: orange;
    font-weight: bold;
}

#listQuestionnaireRemote .win-itemcontainer .win-itembox,
#listQuestionnaireRemote .win-listview .win-itembox {
    background-color: transparent;
}

#listQuestionnaireRemote.listview {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#questionnaireRemoteController .doc-container {
    margin: 0;
}


/* Styles used for the custom layout */
.listView .questionnaireRemoteLayout {
    position: static;
}

.listView .questionnaireRemoteLayout .win-surface {
    margin-left: 0;
}

#listQuestionnaireRemote .win-container {
    margin: 0;
}

#listQuestionnaireRemote .win-item {
    width: calc(100% - 52px);
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 2px;
    padding-bottom: 16px;
}

.questionnaireRemoteLayout .question-button {
    background-color: transparent;
    /*
    border-color: transparent;           
    margin: 0;
    */
    min-width: 32px;
    min-height: 32px;
}

.questionnaireRemoteLayout .field-date-combobox {
    position: relative;
    top: -6px;
    margin-right: 4px;
}

.questionnaireRemoteLayout label.radio, .questionnaireRemote label.checkbox {
    padding: 4px 4px 4px 0;
    word-wrap: break-word;
}

.questionnaireRemoteLayout input.radio, .questionnaireRemoteLayout input.checkbox {
    vertical-align: top;
    /*
    float: left;
    margin-left: 0;
    margin-top: -8px;
    height: 40px;
    */
    padding-top: 0;
}

#listQuestionnaireRemote .win-pressed .win-itembox {
    background-color: transparent;
}

.questionnaireRemoteLayout .list-question-field {
    padding-bottom: 8px;
    padding-top: 10px;
    min-height: 32px;
    width: 60%;
    float: left;
}

.questionnaireRemoteLayout .require-field {
    padding-bottom: 8px;
    padding-top: 10px;
    min-height: 32px;
    width: 5%;
    float: left;
}

.questionnaireRemoteLayout .list-fragengruppe-container {
    display: block;
    position: relative;
    margin-left: -26px;
    margin-right: -26px;
    margin-top: -2px;
}

.questionnaireRemoteLayout .list-fragengruppe-field {
    width: 100%;
    display: inline-block;
    height: 12px;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.questionnaireRemoteLayout .list-question-multi-rating {
    float: left;
    width: 30%;
    padding-bottom: 0;
    padding-top: 28px;
}

.questionnaireRemoteLayout .list-question-multi-rating-deep {
    float: left;
    width: 30%;
    padding-bottom: 0;
    padding-top: 12px;
}

.questionnaireRemoteLayout .questionnaire-row {
    /*margin-top: 10px;*/
}

.questionnaireRemoteLayout .field_line_questionnaire {
    width: 100%;
    height: auto;
}

.questionnaireRemoteLayout .field_row_odd {
    float: left;
    width: 50%;
}

.questionnaireRemoteLayout .field_row_even {
    float: right;
    width: 50%;
}

.questionnaireRemoteLayout .field_line_left {
    float: left;
    width: 50%;
    padding: 0;
}

.questionnaireRemoteLayout .field_line_right {
    float: right;
    width: 50%;
    padding: 0;
}

.questionnaireRemoteLayout .multi-rating {
    width: 15%;
    max-width: 70px;
    height: 15px;
    display: inline-block;
    text-align: center;
    margin-bottom: 2px;
}

.questionnaireRemoteLayout .multi-rating-div {
    /* display:inline-block; */
    float: right;
    width: 70%;
    margin-left: 0;
    margin-top: 0;
}

.questionnaireRemoteLayout .rating-field {
    float: right;
    width: 40%;
}

.questionnaireRemoteLayout .multi-rating-checkbox {
    width: 100%;
}

.questionnaireRemoteLayout .multi-rating-span {
    width: 100%;
    padding-left: 3px;
}

/*General Styles used for all FlipViews*/
.questionnaireRemote .flipview {
    background-image: url("/www/images/bkgtexture.png");
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.questionnaireRemote .flipview .win-item {
    padding-right: 0 !important;
}

/*
    margins/paddings for medium size screens

    is now signalled by additional class: view-size-medium

    @media (max-width:899px) {
    }
*/

.view-size-medium #listQuestionnaireRemote .win-item {
    width: calc(100% - 36px);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.view-size-medium .questionnaireRemoteLayout .list-fragengruppe-container {
    margin-left: -18px;
    margin-right: -18px;
    margin-top: -8px;
}

.view-size-medium .questionnaireRemoteLayout .field_row_odd {
    float: left;
    width: 100%;
}

.view-size-medium .questionnaireRemoteLayout .field_row_even {
    float: left;
    width: 100%;
}

.view-size-medium .questionnaireRemoteLayout .field-separator {
    width: calc(100% - 40px);
    height: 0;
    float: left;
}
/*
    margins/paddings for medium small size screens 

    is now signalled by additional class: view-size-medium-small

    @media (max-width:699px) {
    }
*/


.view-size-medium-small .questionnaireRemoteLayout .list-question-field {
    padding-bottom: 8px;
    width: 100%;
    float: left;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

.view-size-medium-small .questionnaireRemoteLayout .rating-field {
    float: left;
    width: 60%;
}



/*
    margins/paddings for small screens and orientation vertical

    is now signalled by additional class: view-size-small

    @media (max-width:499px) {
    }
*/

.view-size-small #listQuestionnaireRemote .win-item {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.view-size-small .questionnaireRemoteLayout .list-fragengruppe-container {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -4px;
}

.view-size-small .questionnaireRemoteLayout .field_line_left {
    float: left;
    width: 100%;
}

.view-size-small .questionnaireRemoteLayout .field_line_right {
    float: left;
    width: 100%;
}

.view-size-small .questionnaireRemoteLayout .field-separator {
    display: none;
}

.view-size-small .questionnaireRemoteLayout .rating-question-field {
    float: left;
    width: 100%;
}

.view-size-small .questionnaireRemoteLayout span.checkbox,
.view-size-small .questionnaireRemoteLayout span.radio {
    padding-top: 12px;
}