#presentSwitch .win-toggleswitch-header
{
    display: none;
}

.userState_field{
    float:left;
    width: calc(100% - 4px);
    min-width: calc(100% - 4px);
    height: 35px;
    padding-bottom:5px;
}

@media (max-width:899px) {
    .userState_field{
        float: right;
        width: calc(100% - 124px);
        min-width: calc(100% - 124px);
        margin-right:16px;
    }
   
}

@media (max-width:499px) {
   .userState_field{
        float: left;
        width: calc(100% - 4px);
        min-width: calc(100% - 4px);
    }
   
}

/*.view-size-medium #userInfoController .field_line.field_small {
    margin-left: 35px;
    margin-top: 0;
    margin-bottom: 0;
}

#userInfoController .portrait_inline {
    display: inline;
}

#userInfoController .input_field {
    margin-bottom: 0px;
}

#userInfoController .message-container {
    margin: 10px;
}

#userInfoController .label-userInfo {
    font-size: 14px;
}

.view-size-medium #userInfoController .input_userInfo {
    float: right;
    width: calc(-124px + 100%); 
    min-width: calc(100% - 12px);
}*/

#userInfoController .label-right {
    float: right;
    opacity: 0.6;
}

#userInfoController .label-left {
    float: left;
    width: 50%;
    opacity: 0.6;
}

#userInfoController .input_field {
    margin-bottom: 0;
}

.view-size-medium #userInfoController .input_field {
    float: left;
    width: 100%;
    min-width: 100%;
}

#userInfoController .label-info2 {
    display: block;
}
#userInfoController .label.label-big {
    font-size: 16px;
}
.view-size-medium #userInfoController .label {
    letter-spacing: normal;
}
#userInfoController .content-header {
    float: left;
    height: 50px;

}
#userInfoController .field_line {
    margin-bottom: 18px;
}
#userInfoController .label.group {
    white-space: normal;
}

.view-size-medium .userinfo .input_group {
    float: right;
    width: 100%;
    min-width: calc(100% - 124px);
    /*display: inline;*/
    /*position: relative;*/
    top: 0;
    margin-right: 0;
    margin-bottom: 0;
}