.appHeader .app-logo-container {
    height: 44px;
    margin-left: 20px;
    margin-top: 0;
    padding: 0;
    float: left;
    display: inline;
}
.appHeader .app-logo {
    display: inline-block;
    position: relative;
    top: -2px;
}
@media (max-width:899px) {
    .appHeader .app-logo-container {
        display: none;
    }
}
.appHeader .repl-field {
    position: fixed;
    color: #808080;
    opacity: 0.5;
    bottom: 4px;
    left: 4px;
    z-index: 10000;
}
.appHeader .warning-container {
    position: fixed;
    color: #808080;
    opacity: 0.5;
    top: 5px;
    left: 50px;
    z-index: 10000;
}
.appHeader .warning-symbol {
    display: inline;
}
#logoffbutton:disabled,
#logoffbutton[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}