/*
    margins/paddings for all screens
*/
.tile-button-color,
.tile-header ,
.tile-content-wide,
.tile-content,
.tile-content-flat
.tile-content-inner {
    background-color: transparent;           
    border-color: transparent;           
}

#startActions .listview  {
    position: relative;
    left: 0;
    top: 0;
    width: calc(100% - 4px);
    height: 100%;
    visibility: hidden;
}

/* Styles used for the custom layout */
.listView .startLayout {
    position: static;
}
.listView .startLayout .win-surface {
    margin-left: 0;
}

#startActions .win-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    /*
    margin-bottom: 16px;
    */
    margin-bottom: 0;
}
.listView .startLayout .win-item {
    width: 100%;
    height: 100%;
}

.tile-separator-left {
    border-left-style: solid !important;
    border-left-width: 2px !important;
    /*border-left-color: #f0f0f0;*/
}
.tile-separator-right {
    border-right-style: solid !important;
    border-right-width: 2px !important;
    /*border-left-color: #f0f0f0;*/
}

.tile {
    width: 100%;
    overflow-x: hidden;
    /*
    height: 198px;
    display: table;
    */
}
.tile-header {
    text-align: center;
    height: 60px;
    /*
    height: 42px;
    width: calc(100% - 4px);
    */
    width: 100%;
    margin: 0;
    padding: 0;
    /*
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    */
    border: none;
    display: table-caption;
}

 .start-header-field {
     width: 100%;
     margin: 0;
     padding: 0;
     text-transform: uppercase;
     font-weight: 600 !important;
     display: inline-block;
     position: relative;
     top: 8px;
 }

.start-barcode {
    width: 256px !important;
    height: 40px !important;
    margin-left: calc(50% - 128px) !important;
}
.start-vcard {
    height: 96px !important;
    width: 96px !important;
    margin-left: calc(50% - 48px) !important;
}

.tile-row {
    display: table-row;
    height: 96px;
    width: 100%;
}

.tile-content-wide {
    min-height: 96px;
    width: 100%;
    padding: 0;
    margin: 0;
    /*
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    */
    border: none;
    display: table-cell;
}
.tile-content {
    min-height: 96px;
    width: 33.333333%;
    padding: 0;
    margin: 0;
    /*
    min-width: 33.333333%;
    max-width: 33.333333%;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    */
    border: none;
    display: table-cell;
}

.tile-content-flat {
    min-height: 48px;
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    /*
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    */
    border: none;
    display: table-cell;
}

.tile-content-inner {
    /*
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    */
    width: 100%;
    height: 100%;
    border: none;
    visibility: hidden;
}

.tile-button {
    width: 100%;
    /*
    min-width: calc(100% - 4px);
    max-width: calc(100% - 4px);
    padding: 0;
    */
    min-height: 94px;
    margin: 0;
    text-align: left;
}

:disabled.win-button-primary.win-button.tile-button, :disabled.win-button.tile-button {
    background-color: transparent;
}

.tile-button-wide {
    width: 100%;
    min-height: 94px;
    margin: 0;
    text-align: left;
    padding-left: 18px; 
}
.tile-button-wide-flat {
    width: 100%;
    min-height: 46px;
    margin: 0;
    text-align: left;
}
.action-label-container {
    margin-top: 4px;
    width: 100%;
    text-align: center;
}

.start .list-item-header-full {
    margin-top: 0;
}

.action-image-container {
     display: inline-block;
     width: calc(100% - 24px);
     padding: 0 0 0 calc(50% - 20px);
}
 .action-image-container-flat {
     padding: 0;
     width: 60px;
     float: left;
     height: 100%;
}
 .action-image {
     margin-right: 4px;
     width: 40px;
     display: inline-block;
}
 .action-sep {
     width: 100%;
     height: 0;
     float: left;
 }

 /*.pagetitle {
     display: inline-block;
 }*/
 .start-contact-fields {
     width: calc(100% - 60px);
     float: right;
 }
 .start-name-field {
     width: calc(100% - 120px);
     float: left;
     font-weight: 500;
 }
 .start-company-field {
     width: calc(100% - 120px);
     float: left;
 }
 .start-address-field {
     width: 100%;
     float: left;
     opacity: 0.6;
 }
 .start-div-right{
    float: right;
    width: 60px;
 }
 .start-idAndDate {
    text-align: right;
 }
 .list-date-label {
     float: left;
     opacity: 0.6;
 }
 .list-date-value {
     float: left;
 }

/*
    margins/paddings for medium size screens or orientation landscape
    contentarea is less than 699px (in landscape add 140px for navigation bar)
    @media (max-width:699px), (max-width:839px) and (orientation: landscape) {
*/
@media (max-width:899px) {
}

/*
    margins/paddings for small screens and orientation vertical
*/
@media (max-width:499px) {
}


.view-size-small .start-company-field,
.view-size-small .start-address-field {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.167;
}
.view-size-small .start-name-field {
    font-size: 15px;
    line-height: 1.333;
}
