#aboutController .win-toggleswitch-header {
    display: none;
}

#aboutController .app-logo-container {
    margin: 0;
    width: 240px;
    height: auto;
    float: none;
}
#aboutController .large_field {
    padding: 5px 5px 5px 0;
}