
.signaturefragmenthost {
    height: 170px;
    overflow: hidden;
    z-index: 4;
}

#privacyController .input_field {
    overflow-y: hidden;
}

#privacyController #signaturehost {
    margin-top: 16px;
    touch-action: none;
}
